body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navbar-brand img{
  margin-top: -30px;
  height: 65px;
}
.jumbotron {
    background-image: url("../imagenes/jumbotron.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}
.jumbotron .container{
  background-color: white;
  color: black;
  font-weight: bold;
  opacity: 0.6;
}

nav{
  padding-top: 15px;
}

.container .col-md-3{
  background-color: #e7e7e7;
  margin: 4%;
  padding: 1%;
}
.col-md-3 img{
  width: 100%;
  margin-top: 5%;
}
footer{
  background-color: #e7e7e7;
}
#rrss{
  height: 40px !important;
  width: auto;
}

#spanContacto{
  padding: 10px;
}

#logoFooter{
  height: 100px;
  width: auto;
}

#mapaFooter{
  height: 250px;
  width: auto;
}

.hidden{
  display: none;
}
.mostrar{
  display: block;
}
form{
  margin: 3%;
}
#row{
  background-color: #e7e7e7;
  margin-top: 2%;
  margin-bottom: 2%;
}
#row img{
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
#row h2{
  text-align: center;
}
